astroid==4.0.4
black==26.3.1
click==8.3.2
dill==0.4.1
isort==8.0.1
librt==0.9.0
mccabe==0.7.0
mypy==1.20.1
mypy_extensions==1.1.0
numpy==2.4.1
packaging==26.1
pandas==2.3.3
pathspec==1.0.4
pip==24.3.1
platformdirs==4.9.6
pylint==4.0.5
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytz==2025.2
six==1.17.0
tomlkit==0.14.0
typing==3.7.4.3
typing_extensions==4.15.0
tzdata==2025.3
